html,body {
    height:180%;
    width:100%;
  }

.body {
   display:flex;
}

a{
    font-family: 'Signika Negative', sans-serif;
    color: inherit;
    text-decoration: inherit;
    font-size: large;
}

.createHeading{
    font-family: 'Pacifico', cursive;
}

.a-buttons{
    padding: 25px;
}

.a-buttons:hover{
    background-color: rgb(228, 228, 228);
}

h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
}
h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
}

.centerForm{
    font-family: 'Signika Negative', sans-serif;
    margin:auto;
}
.container{
    margin: auto;
}

input{
    margin: 5px;
    font-family: 'Signika Negative', sans-serif;
    margin-left: 20px;
    font-size: 20px;
}

select{
    margin: 5px;
}

option{
    font-family: 'Signika Negative', sans-serif;
}

button{
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 1px rgb(172, 172, 172);
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}

.homeBtn{
    padding: 10px;
    width: 200px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
    height: 200px;
}

.loginbtn{
    padding: 10px;
    margin: 10px;
    width: 60px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 1px rgb(172, 172, 172);
}

.createQuizBtn{
    padding: 5px;
    width: 150px;
    font-size: 20px;
}

.myform{
    margin-left: 40px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
}

#addQuestionBtn{
    padding: 10px;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 1px rgb(172, 172, 172);
    font-size: 20px;
}

.landingBtn{
    font-family: 'Signika Negative', sans-serif;
    margin-left: 60px;
    width: 200px;
    height: auto;
    font-size: 20px;
    padding: 20px;
    background-color: #e6b005;
    border-color: #e6b005;
}

.imageBtn{
    padding: 10px;
}

p{
    font-family: 'Signika Negative', sans-serif;
    margin-left: 20px;
}

#navbar-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 1px rgb(172, 172, 172);
    justify-content: space-between;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.navbar-buttons{
    justify-content: center;
}

#QuizMaker{
    font-family: 'Pacifico', cursive;
}

.navbarTitle{
    margin-left: 10px;
    font-family: 'Pacifico', cursive;
    font-size:xx-large;
    color:rgb(88, 88, 88);
    width: 300px;
    height: 40px;
    padding: 5px;
}

.nav-btn{
    height: 30px;
    width: 100px;
}

h2{
    font-family: 'Signika Negative', sans-serif;
    margin-left: 20px;
}

.homePage{
    display: flex;
    flex-direction: column;
}

.homeText{
    color: rgb(36, 36, 36);
    margin-left: 550px;
    margin-top: 270px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
}

.buttonsFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.section1{
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-position: 0px 0px;
    height: 35%;
}

#downArrow{
    transform: rotate(90deg);
}

.moveDown{
    margin-left: 50%;
    background-color: #e6b005;
    border-color: #e6b005;
    box-shadow:none;
}

#about-us{
    background-color: #e3e3e3;
    height: 35%;
}

.icon{
    margin-bottom: 10px;
}

#about{
    margin-top: 100px;
    margin-left: 0%;
    text-align: center;
}

.simple{
    font-family: 'Signika Negative', sans-serif;
    font-size: 23px;
    text-align: center;
}

.aboutBtn{
    height: 200px;
    margin-top: 100px;
    margin-left: 9%;
    background-color: #ededed;
}

.sign{
    font-size: 20px;
}

.signin{
    height: 35%;
    background-color: #f0f0f0;
}

.footer{
    margin: 10px;
    background-color: #fff6b0;
}

.contact{
    color: rgb(74, 74, 74);
    font-size: 20px;
    text-align: left;
    margin: 2%;
}

.footerAdd{
    text-align: left;
    margin: 2%;
    font-size: 20px;
}

.createQuiz{
    background-color: #fffba7;
}

.landingQuiz{
    background-color: #fffba7;
}

.quiztitle{
    font-size: 20px;
}

.landingDiv{
    display: flex;
    flex-direction: column;
}

.landingBtnDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.content{
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
}

.Btn{
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 1px rgb(172, 172, 172);
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}

.successfully{
    text-align: left;
    margin-left: 20px;
}

.sucessBtn{
    width: 300px;
}

#searchquiz-container{
    margin-left: 40px;
}
p{
    font-size: 20px;
}


#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #e6b005;
  }