<form name="myform" method="post" action="/createQuiz">
    <div>
        <label id="quizTitlelbl">Title: </label>
        <input type="text" id="quizTitle" name="quizTitle"/>
    </div>
    <div>
        <input type="button" id="addBtn" onclick="addQuestion()" value="Add Question"></input>
    </div>
    
    <div id="questionDiv">
                    
    </div>
    <input type="hidden" value="1" id="questionCount" name="questionCount">
    <div>
        <button type="submit" name="submitquiz" id="submitquiz">Create Quiz</button>
        <button type="reset" name="resetquiz" id="resetquiz">Reset Quiz</button>
    </div>
</form>