  <form name="myform" method="post" action="/login">
  Email: <input type="text" name="email" id="email"><br/>
  Password: <input type="password" name="password" id="password"><br/>
  Type: <select name="type" id="type" required>
    <option value="Attempt Quiz">Attempt Quiz</option>
    <option value="Create Quiz">Create Quiz</option>
  </select><br/>
  <br>
  <div><%= typeof displayMessage=='undefined' ? "" : displayMessage %></div>
  
  <button type="submit" value="login">Login</button>
  <button type="reset" value="reset">Reset</button>
  
  </form>